/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25/08/2026, 10:17:13
    Author     : informatica
*/

.form-register{
    -fx-background-color: #3EB489;
}

.form-register Label{
    -fx-text-fill: black;
    -fx-font-size: 15px;

}

.form-register TextField,
.form-register PasswordField{
    -fx-border-color: burlywood;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: white;

}

.vBox{
    -fx-background-color: #000000;
    
}